.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-black);
}

.menu-container__menu-item-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.menu-container__menu-item-content img {
  height: 670px;
  object-fit: contain;
}

.menu-item__content {
  display: flex;
  flex-direction: column;
}
