.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-black);
}

.menu-container__subheading {
  text-align: center;
}

.menu-container__menu-item-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.menu-container__menu-item-content img {
  max-width: 200px;
  object-fit: contain;
}

.menu-item-content__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
