/* main div */
.our-believes-container {
  position: relative;
  display: flex;
}

/* background image of main div */
.our-believes-container__background img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* all content are inside this container */
.our-believes-container__our-believes-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* founder name and occupation */

/* profile name and occupation  */
.ob-profile__name {
  font-size: 2rem;
  color: var(--color-gold);
  margin-bottom: 0.4em;
}

/* div main image */
.image-wrapper__chef-img {
  width: 100%;
}

.ob-text-content__sign {
  width: 180px;
}

/* text content */
.ob-container__ob-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 105%;
  gap: 3rem;
}

/* main paragraph quatoes  */
.ob-text-content__para > img {
  width: 40px;
  display: inline;
  margin-bottom: -0.3rem;
  margin-right: 0.3rem;
}

.ob-text-content__para {
  line-height: 1.5em;
  font-style: italic;
}
