/* global style class */
.sub-header-style {
  font-size: var(--sub-header-font-size);
  font-weight: normal;
  color: var(--color-gold);
}

.container-padding-style {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
