.about-container {
  position: relative;
  display: flex;
}

.about-container__content {
  display: flex;
  align-items: center;
}

.about-container__img {
  object-fit: contain;
  max-width: 40%;
}

.about-container__background img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.about-container__G img {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.about-container__flexstyle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutus__headerstyle {
  text-align: right;
}

.aboutus__headerstyle > img {
  transform: rotate(180deg);
}

.about-container__aboutus button {
  margin-left: auto;
}

.about-container__history button {
  margin-right: auto;
}

button {
  padding: 1em 2em;
  color: var(--color-black);
  background-color: var(--color-gold);
}

.about-container__aboutus p {
  text-align: right;
}
