.content__container {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.content__container__name {
  margin-right: auto;
}

.content__container__price {
  margin-left: 2rem;
}

.content__container__horizontal-line {
  background-color: white;
  min-width: 6rem;
  height: 0.5px;
  margin-left: 3rem;
}

.menu-item-container__item-quantity p {
  color: white;
}
