.content__container {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.content__container__name {
  margin-right: auto;
  color: var(--color-gold);
}

.content__container__price {
  margin-left: 2rem;
}

.content__container__horizontal-line {
  background-color: white;
  min-width: 6rem;
  height: 0.5px;
  margin-left: 2.5rem;
}

.menu-item-container__tag > p {
  color: var(--color-gray);
  margin-top: 0.4rem;
}
